 body {
     margin-top: 20px;
     background-color: #e2e2e2;

 }


 .chat-online {
     color: #34ce57
 }

 .chat-offline {
     color: #e4606d
 }



 .chat-messages {
     display: flex;
     flex-direction: column;
     max-height: 80vh;
     height: 60vh;
     overflow-y: scroll
 }

 .chat-message-left,
 .chat-message-right {
     display: flex;
     flex-shrink: 0
 }

 .chat-message-left {
     margin-right: auto
 }

 .chat-message-right {
     flex-direction: row-reverse;
     margin-left: auto
 }

 .py-3 {
     padding-top: 1rem !important;
     padding-bottom: 1rem !important;
 }

 .px-4 {
     padding-right: 1.5rem !important;
     padding-left: 1.5rem !important;
 }

 .flex-grow-0 {
     flex-grow: 0 !important;
 }

 .border-top {
     border-top: 1px solid #dee2e6 !important;
 }

 .list-group-item:hover {
     background: #CCC;
     color: #000;
     cursor: pointer;
 }






 .dropdown {
     position: absolute;
     top: 4em;
     max-height: 30em;
     z-index: 199999;
     overflow-y: scroll;

 }

 .dropdown-content {
     color: #000;
 }

 .dropdown-item:hover {

     background: #CCC;
     cursor: pointer;
 }

 .dropdown-item {
     width: 100%;
 }

 .dropdown-item img {

     border-radius: 50%;
 }


 .all-users-search {
     position: relative;
     width: 50%;
 }

 .users-dropdown {
     position: absolute;
     width: 100%;
     min-height: 300px;
     padding: 2em;

     z-index: 2222222222;

 }


 .dropdown-item {

     width: 100%;
     display: flex;
     align-items: center;
     padding: 10px;
     border-radius: 10px;
     border: 1px solid #ccc;

 }

 .dropdown-item img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 10px;
 }


 .user-item {
     cursor: pointer;
     border-radius: 10px;
     padding: 10px;
     margin-bottom: 10px;
     color: #000;
     border: 1px solid #ccc;
     width: 100%;
     text-align: center;
 }

 .user-item button {
     width: 20%;
     margin-top: 10px;
     border-radius: 10px;
     padding: 10px;
     color: #fff;
     background: #128C7E;
     border: 1px solid #ccc;


 }